<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form action ="/auth/signup" method ="GET">
    <button>Sign Up</button>
</form> 

<form action ="/auth/login" method ="GET">
    <button>Log In</button>
</form> 
